go 1.25.5

use (
	.
	./pkg/auth
	./pkg/config
	./pkg/database
	./pkg/discovery
	./pkg/errors
	./pkg/health
	./pkg/logger
	./pkg/middleware
	./pkg/models
	./pkg/response
	./pkg/scripts
	./pkg/shared
	./pkg/testutil
	./services/api-gateway
	./services/data-service
	./services/monitoring-service
	./services/monitoring-service/internal/alerts
	./services/monitoring-service/internal/metrics
	./services/payment-service
	./services/recommendation-service
	./services/user-service
)
